<div class="slider">
    <ng-container *ngFor="let item of items; let i = index">
        <div class="slide" *ngIf="i == currentSllideIndex" @slideFade>
            <div class="slide-pane">
                <h2 class="name">{{ item.title }} - {{i}}</h2>
                <div class="meta">
                    <div class="info">
                        <span class="rating">
                            <span>star</span>
                            <span class="rating-value">{{ item.vote_average }}</span>
                            <span>/10</span>
                        </span>
                        <span class="voute-count">{{ item.vote_count }}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>